/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*================================================================*/
@font-face {
    font-family: 'master_of_breakregular';
    src: url('../fonts/logo/master_of_break-webfont.woff2') format('woff2'),
         url('../fonts/logo/master_of_break-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
	font-family: 'Roboto', sans-serif;
}

.header-menu{
	background: #fff;
	width: 100%;
}
.banner-slider{
	width: 100%;
}
.banner-img{
	background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
	min-height: 770px;
	position: relative;
	h3{
		font-family: 'master_of_breakregular';
		color: red;
		font-weight: 300;
		font-size: 8rem;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%,-50%);
	}
	h2{
		font-family: 'master_of_breakregular';
		color: #f7f7f7;
		font-weight: bold;
		font-size: 8rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	p{
		font-family: 'Roboto', sans-serif;
		font-size: 2rem;
		text-transform: uppercase;
		color: #f7f7f7;
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}