/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*================================================================*/
@font-face {
    font-family: 'master_of_breakregular';
    src: url('../fonts/logo/master_of_break-webfont.woff2') format('woff2'),
         url('../fonts/logo/master_of_break-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
	font-family: 'Roboto', sans-serif;
}

.header-menu{
	background: #fff;
	width: 100%;
}
.banner-slider{
	width: 100%;
}

.slick-arrow{
	position: absolute;
	top: 50%;
	font-size: 2rem;
	color: #f7f7f7;
	cursor: pointer;
}
.slick-prev{
	left: 5%;
	z-index: 3;
}
.slick-next{
	right: 5%;
}
.banner-img{
	background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
	min-height: 770px;
	position: relative;
	h3{
		font-family: 'master_of_breakregular';
		color: #f01b16;;
		font-weight: 300;
		font-size: 8rem;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%,-50%);
	}
	h2{
		font-family: 'master_of_breakregular';
		color: #f7f7f7;
		font-weight: bold;
		font-size: 8rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	p{
		font-family: 'Roboto', sans-serif;
		font-size: 2rem;
		text-transform: uppercase;
		color: #f7f7f7;
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	p:before,
	p:after{
		content: '';
		position: absolute;
		top: 50%;
		width: 20px;
		height: 2px;
		background: #f7f7f7;
	}
	p:before{
		left: -40%;
	}
	p:after{
		right: -40%;
	}
}
// ============about================
.central-heading{
	padding: 50px 0;
	margin: 50px auto;
	text-align: center;
	h3{
		font-size: 3rem;
		color: #f01b16;
		text-transform: uppercase;
		padding-bottom: 50px;
		span{
			font-family: 'master_of_breakregular';
			text-transform: capitalize;
			margin-left: 10px;
		}
	}
	p{
		font-size: 1.5rem;
		font-weight: 300;
		color: #9f9a97;
		line-height: 30px;
	}
	a{
		background: #ff7e66;
		padding: 20px 23px;
		margin-top: 40px;
		display: inline-block;
		text-transform: uppercase;
		color: #fff2ee;
		font-size: 1.2rem;
		font-weight: 300;
		transition: .5s linear;
	}
	a:hover{
		text-decoration: none;
		background: #f01b16;
		transform: rotateX(360deg);
	}
}

.about-img{
	height: 750px;
	width: 50%;
	background: url(../img/cook.jpg) no-repeat 50% 50% / cover;
}
.right-part{
	height: 750px;
	width: 50%;
	background: #fff2ee;
	text-align: center;
	h3{
		font-size: 4rem;
		width: 50%;
		color: #ff7e66;
		text-transform: uppercase;
	}
	p{
		width: 50%;
		font-size: 1.5rem;
		font-weight: 300;
		color: #9f9a97;
		line-height: 30px;
	}
}
// ============================baking====================================
.baking-img{
	position: relative;
	width: 100%;
	min-height: 780px;
	background: url(../img/cake.jpg) no-repeat 50% 50% / cover;
	h3{
		position: absolute;
		top: 20%;
		right: 15%;
		font-size: 8rem;
		color: #f01b16;
		font-family: 'master_of_breakregular';
		text-transform: capitalize;
		z-index: 2;
		font-weight: 400;
		width: 29%;
	}
	h2{
		position: absolute;
		top: 20%;
		right: 15%;
		font-size: 8rem;
		color: #f7f7f7;
		font-family: 'master_of_breakregular';
		text-transform: capitalize;
		font-weight: 900;
		width: 29%;
	}
	p{
		position: absolute;
		top: 55%;
		right: 10%;
		width: 35%;
		text-align: center;
		font-size: 1.5rem;
		color: #f7f7f7;
		padding: 0 20px;
	}
	span{
		font-family: 'master_of_breakregular';
		position: absolute;
		top: 70%;
		right: 38%;
		text-align: center;
		font-size: 5rem;
		color: #f7f7f7;
	}
	a{
		position: absolute;
		top: 85%;
		right: 36%;
		font-size: 1.5rem;
		color: #f7f7f7;
		border: 2px solid #f7f7f7;
		padding: 10px 20px;
		text-decoration: none;
		text-transform: uppercase;
	}
}

// ==============send===========
.send-content{
	padding: 55px;
}
.services-cards{
	min-height: 135px;
	text-align: center;
	p{
		font-size: 2rem;
		text-transform: capitalize;
	}
}
.centeral-card:before,
.centeral-card:after
{
	position: absolute;
	top: 50%;
	content: '';
	width: 100px;
	height: 1px;
	transform: rotate(-90deg);
	background: #000;
}
.centeral-card:before{
	left: -30%;
}
.centeral-card::after{
	right:-30%;
}
// ============gallery==============
.gallery{
	width: 100%;
	min-height: 876px;
	overflow: hidden;
}
.breakfast{
	background: url(../img/breakfast.jpg) no-repeat 50% 50%;
	background-size: 480px;
	min-height: 436px;
	width: 50%;
	overflow: hidden;
	position: relative;
	h3{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) rotateX(-90deg);
		padding: 120px;
		background: rgba(236, 5, 5, 0.5);
		color: #f7f7f7;
		font-size: 3rem;
		text-transform: uppercase;
		transition: .5s linear;
	}
}
.breakfast:hover h3{
	transform: translate(-50%,-50%) rotateX(0deg);
	cursor: pointer;
}
.gallery-title{
	background: #fff2ee;
	min-height: 436px;
	width: 50%;
	p{
		font-size: 4rem;
		color: #ff7e66;
		text-transform: uppercase;	
	}
}

.cookies{
	background: url(../img/chizcake.jpg) no-repeat 50% 50%;
	background-size: 970px;
	min-height: 436px;
	overflow: hidden;
	position: relative;
	h3{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) rotateX(-90deg);
		padding: 120px;
		background: rgba(236, 5, 5, 0.5);
		color: #f7f7f7;
		font-size: 3rem;
		text-transform: uppercase;
		transition: .5s linear;
	}
}
.cookies:hover h3{
	transform: translate(-50%,-50%) rotateX(0deg);
	cursor: pointer;
}
.keks{
	background: url(../img/makarun.jpg) no-repeat 50% 50%;
	background-size: 970px;
	min-height: 436px;
	overflow: hidden;
	position: relative;
	h3{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) rotateX(-90deg);
		padding: 120px;
		background: rgba(236, 5, 5, 0.5);
		color: #f7f7f7;
		font-size: 3rem;
		text-transform: uppercase;
transition: .5s linear;
	}
}
.keks:hover h3{
	transform: translate(-50%,-50%) rotateX(0deg);
	cursor: pointer;
}
.cruasan{
	background: url(../img/cruasan.jpg) no-repeat 50% 50%;
	background-size: 675px;
	min-height: 436px;
	width: 50%;
	overflow: hidden;
	position: relative;
	h3{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) rotateX(-90deg);
		padding: 120px;
		background: rgba(236, 5, 5, 0.5);
		color: #f7f7f7;
		font-size: 3rem;
		text-transform: uppercase;
transition: .5s linear;
	}
}
.cruasan:hover h3{
	transform: translate(-50%,-50%) rotateX(0deg);
	cursor: pointer;
}
.fastfood{
	background: url(../img/fastfood.jpg) 100% 50% no-repeat;
	background-size: 707px;
	min-height: 436px;
    width: 50%;
	overflow: hidden;
	position: relative;
	h3{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) rotateX(-90deg);
		padding: 120px;
		background: rgba(236, 5, 5, 0.5);
		color: #f7f7f7;
		font-size: 3rem;
		text-transform: uppercase;
transition: .5s linear;
	}
}
.fastfood:hover h3{
	transform: translate(-50%,-50%) rotateX(0deg);
	cursor: pointer;
}
// ===================blog================
.blog-card-first{
	background: url(../img/card-img-1.jpg)no-repeat 50% 50%;
	background-size: 707px;
	min-height: 400px;
	position: relative;
}
.card-head{
	background: #fff;
	border-radius: 0 0 50% 50%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	p{
		font-size: 2rem;
		text-transform: uppercase;
		color: #000;
	}
	h3{
		font-size: 2rem;
		color: #f01b16;
		font-family: 'master_of_breakregular';
		text-transform: capitalize;
		padding: 15px 0;
	}
	a{
			background: #ff7e66;
			padding: 10px 13px;
			display: inline-block;
			text-transform: uppercase;
			color: #fff2ee;
			font-size: 1.2rem;
			transform: scale(0);
			transition: .5s linear;
		}
		a:hover{
			text-decoration: none;
			background: #f01b16;
		}
}